Temp
Logs
Library
Obj
/.vs
*.csproj     
*.sln         
*.suo   

Assets/Scenes/MattiaTesting.unity
Assets/Scenes/MattiaTesting.unity
Assets/Scenes/MattiaTesting.unity.meta
Assets/Scenes/MattiaTesting.unity
Assembly-CSharp.csproj
.vs/Hide-N-Hex/v17/DocumentLayout.json
.vs
