Temp
Logs
Library
Obj
/.vs
*.csproj     
*.sln         
*.suo   

Assets/Scenes/MattiaTesting.unity
Assets/Scenes/MattiaTesting.unity
Assets/Scenes/MattiaTesting.unity.meta
Assets/Scenes/MattiaTesting.unity
Assembly-CSharp.csproj
.vs/Hide-N-Hex/v17/DocumentLayout.json
.vs
Assets/Scenes/Mattia.unity.meta
Assets/Scenes/Mattia.unity
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/default-2022.dwlt
